@keyframes neonGlowText {
    0% { text-shadow: 0 0 5px #BBDE1A, 0 0 10px #BBDE1A; }
    50% { text-shadow: 0 0 10px #BBDE1A, 0 0 15px #BBDE1A; }
    100% { text-shadow: 0 0 15px #BBDE1A, 0 0 20px #BBDE1A; }
}

@keyframes neonGlowBorder {
    0% { box-shadow: 0 0 0px #BBDE1A, 0 0 10px #BBDE1A; }
    50% { box-shadow: 0 0 0px #BBDE1A, 0 0 12px #BBDE1A; }
    100% { box-shadow: 0 0 0px #BBDE1A, 0 0 14px #BBDE1A; }
}

@keyframes neonGlowImage {
    0% {
        filter: drop-shadow(0 0 2px #BBDE1A) brightness(1);
    }
    100% {
        filter: drop-shadow(0 0 4px #BBDE1A) brightness(1.1);
    }
}

@keyframes neonBackground {
    0% {
        background-color: #BBDE1A;
        filter: drop-shadow(0 0 2px #BBDE1A) brightness(1);
    }
    100% {
        background-color: #BBDE1A;
        filter: drop-shadow(0 0 4px #BBDE1A) brightness(1.1);
    }
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101210;
}

header {
    background-color: rgba(16, 18, 16, .5);
    color: #fff;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    backdrop-filter: blur(12px);
    z-index: 2;
}

header h1 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 70px;
}

.icon {
    width: 21px;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 20px;
    gap: 40px;
}

nav ul li {
    display: flex;
    align-items: center;
    gap: 12px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.active,
nav ul li a:hover {
    color: #e4ffee;
    animation: neonGlowText 1s infinite alternate;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #161716;
    color: #fff;
    position: relative;
    z-index: 1;
}

#inicio {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    margin: 0px;              
    text-align: center;
    width: 100%;
    height: 900px;
    margin-top: 0px; 
}

#inicio h2 {
    color: #BBDE1A;               
    font-size: 65px;   
    margin-bottom: 1px;  
    z-index: 1;     
}

#inicio p {
    font-size: 25px;            
    color: white;  
    margin-top: 1;   
    z-index: 1;          
}

#inicio hr {
    border: none;
    height: 2px;
    background-color: #BBDE1A; 
    width: 400px;
    text-align: center;
    margin-top: 20px;
    border-radius: 2rem;   
    z-index: 1;       
}

.destaque {
    animation: neonGlowText 1s infinite alternate;
    color: #BBDE1A;
}

.container1 {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    margin-bottom: 400px;
    margin-top: 300px;
}

#about {
    text-align: center;
    padding: 0px;
    margin: 0;
    background-color: #1C1E1C;
    color: white; 
    width: 54%;
    height: 0px;
    margin-bottom: 100px;
}

#about h2 {
    color: white;
    position: relative;
    top: -110px;
    font-size: 35px;
}

#sobre {
    padding: 150px;
    margin: 0px;
    background-color: #161716;
    color: white; 
    border-radius: 2rem;
    animation: neonGlowBorder 1.5s infinite alternate;
    width: 54%;
    height: auto;
}

#sobre h2 {
    color: #BBDE1A;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -50px;
}

#sobre p {
    max-width: 600px; 
    line-height: 1.9;
    margin-top: 30px;
    text-align: justify;
    font-size: 18px;
}

.content-wrapper {
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between; 
    gap: 70px;
}

.animacoes-container {
    max-width: 400px;
    max-height: 400px;
    min-width: 400px;
    min-height: 400px;
    margin-top: -60px;
    margin-right: -20px;
}

.container2 {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 3px; 
}

#skills {
    text-align: center;
    padding: 0px;
    margin: 0;
    background-color: #1C1E1C;
    color: white; 
    width: 54%;
    height: 0px;
    margin-bottom: 100px;
}

#skills h2 {
    color: white;
    position: relative;
    top: -110px;
    font-size: 35px;
}

#skillsfront {
    text-align: center;
    padding: 50px;
    margin: 0;
    border-radius: 2rem 2rem 0rem 0rem;
    width: 64.4%;
    height: auto;
}

#skillsfront h2 {
    color: #BBDE1A;
    position: relative;
    top: -40px;
    font-size: 35px;
}

.Hrfrontback {
    border: none;
    background-color: #BBDE1A; 
    border-radius: 2rem;
    position: relative;
    top: -125px;
    height: 5px;
    width: 160px;
    margin: auto;
    animation: neonGlowBorder 1.5s infinite alternate;
}

.image-container {
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 50px; 
    color: white;
    font-size: 20px;
}

.image-box {
    position: relative;
    display: inline-block;
    background-color: #161716;
    animation: neonGlowBorder 1.5s infinite alternate;
    border-radius: 2rem;
    height: 253px;
    width: auto;
    padding: 20px;  
    box-sizing: border-box;
}

.image-box p {
    margin: 0 0 80px 0;;
    color: #BBDE1A;
    font-size: 20px;
    position: static; 
}

.tooltip {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.39); 
    color: #fff; 
    text-align: center;
    border-radius: 5px;
    padding: 12px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.50s ease;
    line-height: 1.5;
    width: 100%;
    height: auto;
    backdrop-filter: blur(12px);
    z-index: 1000;
}

.tooltip::before {
    content: '';
    position: absolute;
    top: -6px;  
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;  
    border-right: 6px solid transparent; 
    border-bottom: 6px solid rgba(0, 0, 0, 0.39);  
}

.image-box:hover .tooltip {
    opacity: 1;
}

.image-box img:hover {
    animation: neonGlowImage 1.5s infinite alternate;
    transform: scale(1.1);
}

.vertical-line {
    width: 100px;  
    height: 3px;  
    background-color: #BBDE1A;  
    margin: 0 auto;
    border-radius: 2rem;
    position: relative;  
    top: -20px;  
    animation: neonGlowBorder 1.5s infinite alternate;
}

.frontback {
    width: 100px;
    height: auto;
    position: relative;
    top: -50px;
    margin: 0 30px;
}

#skillsback {
    text-align: center;
    padding: 50px;
    margin: 0;
    background-color: transparent;
    color: white; 
    border-radius: 0rem 0rem 2rem 2rem;
    width: 64.4%;
    height: auto;
}

#skillsback h2 {
    color: #BBDE1A;
    position: relative;
    top: -40px;
    font-size: 35px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease; 
}
  
.fade-in.visible {
    opacity: 1;
    transform: translateY(0); 
}
  
.container3 {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 100px; 
    margin-top: 400px;
}

#projetos {
    text-align: center;
    padding: 0px;
    margin: 0;
    background-color: #1C1E1C;
    color: white; 
    width: 54%;
    height: 0px;
}

#projetos h2 {
    color: white;
    position: relative;
    top: -110px;
    font-size: 35px;
}

#projeto1 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 150px;
    background-color: #161716;
    border-radius: 2rem;
    color: white; 
    animation: neonGlowBorder 1.5s infinite alternate;  
    width: 54%;
    margin: 0;
    height: 250px;
}

#projeto1 h3 {
    color: #BBDE1A;
    font-size: 35px;
    margin-bottom: 20px; 
}

#projeto1 p {
    font-size: 17px;
    margin: 0;
    max-width: 600px;
    text-align: justify; 
    line-height: 1.5;
}

#projeto2 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 150px;
    background-color: #161716;
    border-radius: 2rem;
    color: white; 
    animation: neonGlowBorder 1.5s infinite alternate;  
    width: 54%;
    margin: 0;
    height: 250px;
}

#projeto2 h3 {
    color: #BBDE1A;
    font-size: 35px;
    margin-bottom: 20px; 
}

#projeto2 p {
    font-size: 17px;
    margin: 0;
    max-width: 600px;
    text-align: justify; 
    line-height: 1.5;
}

.imageleft {
    position: relative;
    left: -90px;
    border-radius: 1rem;
    width: 600px;
    height: 385px;
}

.imageright {
    position: relative;
    right: -90px;
    border-radius: 1rem;
    width: 600px;
    height: 385px;
}

.projetoleft {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left;
    margin-right: -100px;
    margin-top: -130px;
}

.projetoright {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left;
    margin-left: -100px;
    margin-top: -130px;
}

.fileira {
    display: flex; 
    flex-wrap: wrap;
    gap: 10px; 
}

.quadrado {
    width: auto;  
    height: 40px; 
    background-color: #BBDE1A; 
    border-radius: 2rem; 
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
}

#projeto1 .quadrado p {
    margin: 0;  
    font-size: 16px; 
    color: #161716;  
    font-weight: bold;
}

#projeto2 .quadrado p {
    margin: 0;  
    font-size: 16px; 
    color: #161716;   
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    position: relative;
    top: 50px;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 2em;
    width: 100px;
    height: 35px;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.btn-icon1-hover,
.btn-icon1 {
    width: 28px; 
    height: 28px;
    margin-right: 7px; 
    vertical-align: middle;
    transition: filter 0.3s ease-in-out;
}

.btn-icon2-hover,
.btn-icon2 {
    width: 25px; 
    height: 25px;
    margin-right: 7px; 
    vertical-align: middle;
    transition: filter 0.3s ease-in-out;
}

.btn-icon3-hover,
.btn-icon3 {
    width: 31px; 
    height: 25px;
    margin-right: 7px; 
    vertical-align: middle;
    transition: filter 0.3s ease-in-out;
}

.btn-icon1,
.btn-icon2,
.btn-icon3 {
    display: inline;
}

.btn-icon1-hover,
.btn-icon2-hover,
.btn-icon3-hover {
    display: none;
}

.linkedIn:hover .btn-icon2,
.email:hover .btn-icon3,
.github:hover .btn-icon2,
.baixar:hover .btn-icon1 {
    display: none;
}

.linkedIn:hover .btn-icon2-hover,
.email:hover .btn-icon3-hover,
.github:hover .btn-icon2-hover,
.baixar:hover .btn-icon1-hover {
    display: inline;
}

.github {
    background-color: transparent;
    color: #BBDE1A;
    border: 1px solid #BBDE1A;
}

.github:hover {
    animation: neonBackground 1.5s infinite alternate;
    color: #161716;
}

.baixar {
    background-color: transparent;
    color: #BBDE1A;
    border: 1px solid #BBDE1A;
}

.baixar:hover {
    animation: neonBackground 1.5s infinite alternate;
    color: #161716;
}

.email {
    background-color: transparent;
    color: #BBDE1A;
    border: 1px solid #BBDE1A;
}

.email:hover {
    animation: neonBackground 1.5s infinite alternate;
    color: #161716;
}

.linkedIn {
    background-color: transparent;
    color: #BBDE1A;
    border: 1px solid #BBDE1A;
}

.linkedIn:hover {
    animation: neonBackground 1.5s infinite alternate;
    color: #161716;
}

.container4 {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 80px; 
    margin-top: 400px;
    margin-bottom: 200px;
}

#contatos {
    text-align: center;
    padding: 0px;
    margin: 0;
    background-color: #1C1E1C;
    color: white; 
    width: 54%;
    height: 0px;
}

#contatos h2 {
    color: white;
    position: relative;
    top: -110px;
    font-size: 35px;
}

#contato {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 150px;
    background-color: #161716;
    border-radius: 2rem;
    color: white; 
    animation: neonGlowBorder 1.5s infinite alternate;  
    width: 54%;
    margin: 0;
    height: 150px;
}

.buttons2 {
    display: flex;
    gap: 150px;
    justify-content: center;
    margin: 0 auto;
}

.button-text {
    font-size: 16px; 
    text-align: center; 
    color: white; 
    margin-top: 25px; 
}

.button-container {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

::-webkit-scrollbar {
    width: 8px;  
}

::-webkit-scrollbar-track {
    background: #1c1e1c;  
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #BBDE1A;
    border-radius: 10px;
}

.menu-mobile {
    display: none;
    cursor: pointer;
    position: absolute; 
    right: 60px;
    top: 17px;
}

.btnbarra {
    width: 25px;
    height: auto;
}

@media screen and (max-width: 1710px) {
    .imageleft {
        width: 500px;
        height: 385px;
    }

    .imageright {
        width: 500px;
        height: 385px;
    }

    #projeto1 .quadrado p {
        font-size: 15px; 
    }

    #projeto2 .quadrado p {
        font-size: 15px; 
    }

    .quadrado {
        height: 40px; 
    }

    #contato {
        width: 54%;
        height: auto;
    }

    .buttons2 {
        flex-wrap: wrap;
        gap: 100px;
    }
}

@media screen and (max-width: 1300px) {
    header {
        padding: 25px;
    }

    header h1 {
        font-size: 20px;
        text-align: left;
        position: absolute;
        left: 50px;
    }

    nav ul {
        font-size: 18px;
    }

    .icon {
        width: 17px;
        height: auto;
    }

    #inicio h2 {             
        font-size: 55px;      
    }
    
    #inicio hr {
        width: 340px;     
    }

    #sobre {
        height: 500px;
        width: 54%;
    }
    
    #sobre h2 {
        font-size: 35px;
    }
    
    #sobre p {
        font-size: 16px;
    }

    .content-wrapper {
        flex-direction: column; 
        align-items: center; 
        gap: 30px;
    }

    #projeto1 {
        display: flex;
        align-items: center; 
        justify-content: center; 
        flex-direction: column-reverse;
        width: 54%;
        height: auto;
    }

    #projeto2 {
        display: flex;
        align-items: center; 
        justify-content: center; 
        flex-direction: column;
        width: 54%;
        height: auto;
    }

    .projetoleft {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        text-align: left;
        margin-right: 0px;
        margin-top: -120px;
    }

    .projetoright {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        text-align: left;
        margin-left: 0px;
        margin-top: -120px;
    }

    .imageleft {
        left: 0px;
        width: 600px;
        height: 385px;
        top: 100px;
    }

    .imageright {
        left: 0px;
        width: 600px;
        height: 385px;
        top: 100px;
    }

    .btn {
        width: 100px;
        height: 35px;
        font-size: 18px;
    }
    
    .btn-icon1-hover,
    .btn-icon1 {
        width: 32px; 
        height: 22px;
    }
    
    .btn-icon2-hover,
    .btn-icon2 {
        width: 25px; 
        height: 25px;
    }
}

@media screen and (max-width: 1100px) {
    header {
        padding: 23px;
    }

    header h1 {
        font-size: 16px;
        text-align: left;
        position: absolute;
        left: 30px;
    }

    nav ul {
        font-size: 14px;
    }

    .icon {
        width: 16px;
        height: auto;
    }

    #inicio p {
        font-size: 20px;                    
    }

    #inicio h2 {             
        font-size: 50px;      
    }
    
    #inicio hr {
        width: 310px;     
    }

    #sobre {
        height: auto;
    }
    
    #sobre h2 {
        font-size: 35px;
    }
    
    #sobre p {
        font-size: 16px;
    }

    .animacoes-container {
        max-width: 350px;
        max-height: 350px;
        min-width: 350px;
        min-height: 350px;
    }

    .content-wrapper {
        gap: 50px;
    }

    .frontback {
        width: 60px;
    }

    .image-box {
    height: 213px;
}

    .image-box p {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 20px;
        flex-direction: column; 
        align-items: flex-start;
    }

    header h1 {
        font-size: 17px;
        position: static; 
    }

    nav ul {
        display: none; 
        flex-direction: column;
        font-size: 15px;
        padding: 0;
        margin-top: 30px; 
        position: relative;
        top: 0;
        width: 100%; 
        gap: 10px;
    }

    .icon {
        width: 15px;
        height: auto;
    }
    
    .menu-mobile {
        display: block;
    }

    nav ul.show {
        display: flex;
    } 

    nav ul li {
        gap: 10px; 
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        padding: 10px 751px 10px 10px;
        display: inline-block; 
        border-radius: 5px;
    }

    .active,
    nav ul li a:hover {
    color: #e4ffee;
    animation: neonGlowText 1s infinite alternate;
    background-color: #161716;  
    }

    #inicio p {
        font-size: 18px;                    
    }

    #inicio h2 {             
        font-size: 40px;      
    }
    
    #inicio hr {
        width: 250px;     
    }

    #sobre {
        padding: 100px 20px;
        width: 90%;
        height: auto;
    }
    
    #sobre h2 {
        font-size: 35px;
    }
    
    #sobre p {
        font-size: 16px;
    }

    .animacoes-container {
        max-width: 300px;
        max-height: 300px;
        min-width: 300px;
        min-height: 300px;
    }

    #skillsfront {
        padding: 10px 20px;
        width: 90%;
        height: auto;
    }

    #skillsback {
        padding: 100px 20px;
        width: 90%;
        height: auto;
    }

    #projeto1 {
        padding: 130px 20px;
        width: 90%;
        height: auto;
    }

    #projeto2 {
        padding: 130px 20px;
        width: 90%;
        height: auto;
    }

    .imageleft {
        width: 90%;
        height: auto;
    }

    .imageright {
        width: 90%;
        height: auto;
    }

    #contato {
        padding: 130px 20px;
        width: 90%;
        height: auto;
    }

    footer {
        font-size: 15px;
    }
}

@media screen and (max-width: 370px) {
    .animacoes-container {
        max-width: 250px;
        max-height: 250px;
        min-width: 250px;
        min-height: 250px;
    }

    footer {
        font-size: 14px;
    }
}



